# Archivos generados por Flex

Analizador/lex.yy.c
Analizador/Analizador

# Ejecutables

*.exe
*.out

# Carpetas de Visual Studio

bin/
obj/

# Archivos temporales

*.o

# Archivos temporales de Python

__pycache__/
*.pyc